<html>
    <head>
        <title> WEB TECHNOLOGY -DIFF BETWEEN TWO NUMBERS</title>



    </head>
    <link href="style.css" type="text/css" rel="stylesheet"></link>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
<body ng-app="simplecal">
    <div>

        <h1>
              18IT510 WEB TECHNOLOGIES</h1>
        <h1>
            Homework 1 - Difference between two numbers
        </h1>
    </div>
    <div>
    <div ng-controller="simplecalcontroller">
        Number1:
        <div>
            <input type="text" ng-model="n1" ng-keyup="cal()";>
        </div>
        <br>
        Number2:
        <div>
            <input type="text" ng-model="n2" ng-keyup="cal()";>
        </div>
        <br>
        <div>
            Difference:{{totalvalue}}
        </div>

    </div>
    </div>
</body>
    </html>