body{
    margin:0px;
    padding:0px;
    background-image: url("math6.jpg");
    
}
  .center {
    margin: auto;
    width:50%;
    height:50vh;
    
    padding: 10px;
    display:flex;
    font-family:sans-serif;
    font-size:25px;
    outline: 4px dashed rgb(110, 20, 120);
  }